<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35390605432-8q1giq0dhj49a8ip6sheqfkim272i8db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35390605432-8q1giq0dhj49a8ip6sheqfkim272i8db</string>
	<key>API_KEY</key>
	<string>AIzaSyAHu_yIFv0m1PL9MRm58g5mfRmTgeXIXFo</string>
	<key>GCM_SENDER_ID</key>
	<string>35390605432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careerassistant.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fotisia-485cf</string>
	<key>STORAGE_BUCKET</key>
	<string>fotisia-485cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35390605432:ios:162e6e2e653fd81189c58d</string>
</dict>
</plist>